<a href="https://colab.research.google.com/github/Pinedah/ESCOM_development-of-applications-for-data-analysis/blob/main/Practica2_4AM1_Eq9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desarrollo de Aplicaciones para el Análisis de Datos

##Práctica 2.


> **Fecha de Entrega: 12 de Septiembre**



<hr>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')



 "**Practica2_4AM2_Eq9**"

> **Nombres:**<br>
* Cortes Rosales Israel
* Palma Pacheco Alan Daniel
* Pineda Hernández Francisco
* Ramírez Aguilar Rodrigo Vidal


**Ejercicio 1.**
1. Crea una variable que contenga como valor tu edad.
3. Crea una variable con el nombre de **x**  y asígnale el valor de *30*.
4. Obten el resultado de la suma de **8 + 5**, utilizando dos variables **x** y **y**.
5. Crea una variable con el nombre de *z* que muestre el resultado de la suma de las variables **x=8** y **y=5**.
6. Elimina los caracteres ilegales en el nombre de la siguiente variable: **2mi-primer_nombre = 'Erick'**
7. Coloca la sintaxis correcta para asignar el mismo valor a las tres variables en una sola línea de código: x __ y __ z __ 'Naranja'
8. Inserta la palabra clave correcta para que la variable *x* pertenezca al ámbito global

In [ ]:
def mi_funcion():
   global x
   x = "fantastico"

edad = 19
print('edad:', edad)
x = 30
print('x:', x)
x = 8
y = 5
z = x + y
print('z:', z)
mi_primer_nombre = 'Erick'
print('Mi primer nombre:',mi_primer_nombre)
x = y = z = 'Naranja'
print("valores de x, y, z:", x, y, z)

mi_funcion()
print('x:', x)

edad: 19
x: 30
z: 13
Mi primer nombre: Erick
valores de x, y, z: Naranja Naranja Naranja
x: fantastico

**Ejercicio 2:**
- El siguiente <code>código</code> no compila. Encuentra y corrige el error.

```python
if 8 > 5:
print("8 es mayor que 5")
```

Error de identación en la segunda línea. print debe tener un tab.

In [ ]:
if 8 > 5:
  print("8 es mayor que 5")

8 es mayor que 5

**Ejercicio 3:**

1.  Crea dos variables (nombre y apellido) e imprímelas usando el formato `f"{}"`
2.  Para la variable numérica pi = 3.14
  - Imprime su tipo de dato
  - Multiplica pi por 2
  - Genera un valor random entre 10 y 20 (recuerda importar la biblioteca random)
3. Para la frase "Hola, ¿cómo estás?"
  - Extraer la subcadena "¿Cómo estás?
  - Convierte la frase en mayúsculas
  - Imprime la longitud de la frase
4. Con `a=10`  y `b=2`  realiza lo siguiente:
  - Realiza 2 operaciones artiméticas.
  - Utiliza 2 operadores de asignación.
  - Haz dos comparaciones de `a` y `b`
  - Combina las dos comparaciones anteriores con el operador `and`
  - Crea una lista de números enteros y revisa si `a` y `b` se encuentran en ella

In [ ]:
#Crea dos variables (nombre y apellido) e imprimelas
name = 'Pablo'
apellido = 'Gavi'
print(f"{name} {apellido}")
#Para la variable numerica pi = 3.14 , imprime su tipo de dato
pi = 3.14
print(type(pi))
#Genera un numero random entre 10 y 20 (recuerda importar la biblioteca random)
import random
random.randint(10,20)
#Para la frase "Hola , Como estas?" , convierte la frase en mayusculas
frase = "Hola , Como estas?"
frase.upper()
#Imprime la longitud de la frase
print(len(frase))
#Realiza dos operaciones aritmeticas
a = 13
b = 6
print(a+b ,b*a)
#Utiliza dos operadores de asignacion
x = 5
x += 10
y = 10
y -= 5
print(x,y)
#Haz dos comparaciones de a y b
print(a>b,a<b)
#Combina las dos comparaciones anteriores con el operador and
print(a>b and a<b)
#Crea una lista de numeros enteros y checa si a y b esta en ella
lista = [1,2,3,4,5,6,5,6,7,8,1,10]
print(a in lista, b in lista)

Pablo Gavi
<class 'float'>
18
19 78
15 5
True False
False
False True

**Ejercicio 4.**

*Actividad 1*
  - Crea una lista con elementos repetidos
  - `['María', 'Jorge', 'Pedro', 'Carolina', 'Andrés', 'Melissa', 'Sofía', 'Mateo', 'Jorge', 'Victoria', 'Emma', 'Andrés']`
  - Convierte la lista en una lista de elementos únicos usando la función `set`

*Actividad 2*
  - Crea una tupla de mínimo 3 elementos
  - Accede al último elemento de la tupla

*Actividad 3*
  - Crea una lista con al menos 6 productos electrónicos
  - Accede al segundo elemento de tu lista
  - Reemplaza el tercer elemento por un nuevo producto electrónico
  - Elimina el último elemento de la lista

*Actividad 4*
  - Crea un diccionario de diccionarios. Por cada producto crea un diccionario con el número ASIN como la clave (ASIN es el número de identificación de cada producto en Amazon, es un número de 10 dígitos que se puede encontrar en el URL) y un diccionario como el valor. En el diccionario de cada producto incluye las siguientes claves y valores: nombre del producto, marca, precio, url.
  - Accede a un elemento por su clave (número ASIN)
  - Del elemento anterior, accesa al "nombre" del producto

  Ejemplo:

  productos_audifonos = {
      
      'B07Q9MJKBV': {
          
          'nombre': 'Bose Noise Cancelling Wireless Bluetooth Headphones 700, with Alexa Voice Control, Black',
          'marca': 'Bose',
          'precio': 299.95,
          'url': 'https://www.amazon.com/Bose-Cancelling-Wireless-Bluetooth-Headphones/dp/B07Q9MJKBV/'
      },
      
      'B0863TXGM3': {
          'nombre': 'Sony WH-1000XM4 Wireless Industry Leading Noise Canceling Overhead Headphones with Mic for Phone-Call and Alexa Voice Control, Black',
          'marca': 'Sony',
          'precio': 278.00,
          'url': 'https://www.amazon.com/Bose-Cancelling-Wireless-Bluetooth-Headphones/dp/B07Q9MJKBV/'
      },
      
  }

In [ ]:
# Actividad 1:
lista = ['María', 'Jorge', 'Pedro', 'Carolina', 'Andrés', 'Melissa', 'Sofía', 'Mateo', 'Jorge', 'Victoria', 'Emma', 'Andrés']
list(set(lista))

['Emma',
 'Carolina',
 'Sofía',
 'Jorge',
 'Victoria',
 'Andrés',
 'María',
 'Pedro',
 'Mateo',
 'Melissa']

In [ ]:
# Actividad 2
tupla = ('Panke', 'Rod', 'Alan')
tupla[2]

'Alan'

In [ ]:
# Actividad 3
electronicos = ['Celular', 'Laptop', 'Audifonos', 'Tableta', 'Kindle', 'Television', 'Camara']
print(electronicos)
print(electronicos[1])
electronicos[2] = 'Computadora de Escritorio'
electronicos.pop()
print(electronicos)

['Celular', 'Laptop', 'Audifonos', 'Tableta', 'Kindle', 'Television', 'Camara']
Laptop
['Celular', 'Laptop', 'Computadora de Escritorio', 'Tableta', 'Kindle', 'Television']

In [ ]:
# Actividad 4

productos_audifonos = {
  'B07Q9MJKBV': {
    'nombre': 'Bose Noise Cancelling Wireless Bluetooth Headphones 700, with Alexa Voice Control, Black',
    'marca': 'Bose',
    'precio': 299.95,
    'url': 'https://www.amazon.com/Bose-Cancelling-Wireless-Bluetooth-Headphones/dp/B07Q9MJKBV/'
  },

  'B0863TXGM3': {
    'nombre': 'Sony WH-1000XM4 Wireless Industry Leading Noise Canceling Overhead Headphones with Mic for Phone-Call and Alexa Voice Control, Black',
    'marca': 'Sony',
    'precio': 278.00,
    'url': 'https://www.amazon.com/Bose-Cancelling-Wireless-Bluetooth-Headphones/dp/B07Q9MJKBV/'
  }
}

print(productos_audifonos['B07Q9MJKBV'])
print(productos_audifonos['B07Q9MJKBV']['nombre'])

{'nombre': 'Bose Noise Cancelling Wireless Bluetooth Headphones 700, with Alexa Voice Control, Black', 'marca': 'Bose', 'precio': 299.95, 'url': 'https://www.amazon.com/Bose-Cancelling-Wireless-Bluetooth-Headphones/dp/B07Q9MJKBV/'}
Bose Noise Cancelling Wireless Bluetooth Headphones 700, with Alexa Voice Control, Black


**Ejercicio 5.**
1. Pregunta al usuario por un número entre 1 y 100. Si el número es mayor o igual a 1 y menor o igual a 100 imprime el número proporcionado o sal del bucle e imprime "fuera de rango" si el número proporcionado no se encuentra dentro del rango (ciclo for)
2. Para la `lista_animales`, realiza las siguientes actividades:
  - `lista_animales = ["Abadejo", "Abalone", "Abejarón", "Abejaruco", "Abeja", "Abejorro", "Ácaro", "Acedía", "Acentor", "Agamido", "Águila", "Alacrán", "Albatros", "Alce", "Almeja", "Alondra", "Ánade Real", "Anchoa", "Anémona de mar", "Anfioxo", "Angelote", "Anguila", "Antílope", "Araña", "Arenque", "Armadillo", "Armiño", "Asno", "Atún", "Avefría", "Avestruz", "Avetoro", "Avispa", "Babirusa", "Babosa", "Babuino", "Bacalao", "Ballena", "Banteng", "Barasinga", "Barracuda", "Becada", "Beira", "Beluga", "Bengalí", "Bermejuela", "Berrendo", "Besugo", "Bisbita", "Bisonte", "Blanquillo", "Boa", "Bogavante", "Bongo", "Bonito", "Bonobo", "Boto", "Buey", "Búfalo", "Búho", "Buitre", "Burro", "Caballo", "Caballito de mar", "Cacatúa", "Cachalote", "Calamón", "Camaleón", "Camello", "Canguro", "Canario", "Cangrejo", "Caracol", "Castor", "Cebra", "Centollo", "Cerdo", "Chacal", "Chimpancé", "Chinchilla", "Ciempiés", "Ciervo", "Cigala", "Cisne", "Cobaya", "Cochinilla", "Cocodrilo", "Coendú", "Coipú", "Colibrí", "Comadreja", "Conejo", "Coral", "Coridora", "Cormorán", "Cóndor", "Cotorra", "Coyote", "Damán", "Delfín", "Diablo de Tasmania", "Dik-dik", "Dingo", "Dragón de Komodo", "Dromedario", "Elefante", "Emú", "Equidna", "Erizo", "Escarabajo", "Escorpión", "Escuerzo", "Espátula común", "Estrella de mar", "Farra", "Faisán", "Flamingo", "Flamenco", "Foca", "Gacela", "Galápago", "Gallina", "Gallipato", "Gallo", "Gamba", "Ganso", "Garcilla", "Garrapata", "Garza", "Gato", "Gavilán", "Glotón", "Golondrina", "Gorila", "Gorgojo", "Gorrión", "Grillo", "Grulla", "Guepardo", "Halcón", "Hamster", "Hiena", "Hipocampo", "Hipopótamo", "Holoturia", "Hormiga", "Hurón", "Hupón", "Ibice", "Icotea", "Iguana", "Insecto palo", "Intendio", "Impala", "Jabalí", "Jabirú", "Jerbo", "Jirafa", "Jaguar", "Kaguang", "Kiwi", "Krill", "Koala", "Labro", "Lagarto", "Langosta", "Langostino", "Lechuza", "Lémur", "León", "León marino", "Leopardo", "Libélula", "Liebre", "Lince", "Llama", "Lobo", "Lobo marino", "Lombriz", "Loro", "Luciérnaga", "Mamut", "Mandril", "Mantis religiosa", "Mapache", "Marabú", "Marabunta", "Mariposa", "Marmota", "Medusa", "Mejillón", "Milpiés", "Mofeta", "Mono", "Mosca", "Mosquito", "Morsa", "Murciélago", "Narval", "Navaja", "Nécora", "Nutria", "Ñandú", "Ñu", "Ocelote", "Okapi", "Oso", "Oso de agua", "Oso hormiguero", "Oso panda", "Oso pardo", "Ornitorrinco", "Oveja", "Pájaro", "Paloma", "Pantera", "Papagayo", "Pelicano", "Perca", "Perdiz", "Perezoso", "Perico", "Peripato", "Periquito", "Perro", "Petirrojo", "Pez", "Pingüino", "Pinzón", "Piojo", "Piquituerto", "Polilla", "Puercoespín", "Pulga", "Pulpo", "Puma", "Quebrantahuesos", "Quetzal", "Quitón", "Rana", "Rata", "Ratón", "Raya", "Rebeco", "Rémora", "Reno", "Rinoceronte", "Rubia Gallega", "Ruiseñor", "Salamandra", "Salmón", "Saltamontes", "Sanguijuela", "Sapo", "Sepia", "Serpiente", "Tábano", "Tejón", "Tenia", "Termita", "Tiburón", "Tigre", "Tijereta", "Topo", "Toro", "Tortuga", "Tritón", "Trucha", "Tucán", "Urogallo", "Urraca", "Vaca", "Varano", "Venado", "Vicuña", "Wapití", "Walabi", "Walaró", "Weta", "Wombat", "Xenopus", "Xenopus laevis", "Xoloescuintle", "Yak", "Yacare", "Yegua", "Zarigüeya", "Zorro", "Zebra"]`
  - Cuenta los animales que su nombre comienza con B (recuerda inicializar un contador, `contador = 0`)

In [ ]:
 # Ciclo for que permite hasta 100 intentos
for _ in range(100):
    numero = int(input("Introduce un número entre 1 y 100: "))
    #Si el número es mayor que 1 y menor que 100 se imprime lo siguiente:
    if 1 <= numero <= 100:
        print(f"Número proporcionado: {numero}")
    else:
        print("Fuera de rango")
        break  # para números fuera del intervalo

Introduce un número entre 1 y 100: 1
Número proporcionado: 1
Introduce un número entre 1 y 100: 100
Número proporcionado: 100
Introduce un número entre 1 y 100: 0
Fuera de rango

In [ ]:
#lista con nombres de animales
lista_animales=["Abadejo", "Abalone", "Abejarón", "Abejaruco", "Abeja", "Abejorro", "Ácaro", "Acedía", "Acentor", "Agamido", "Águila", "Alacrán", "Albatros", "Alce", "Almeja", "Alondra", "Ánade Real", "Anchoa", "Anémona de mar", "Anfioxo", "Angelote", "Anguila", "Antílope", "Araña", "Arenque", "Armadillo", "Armiño", "Asno", "Atún", "Avefría", "Avestruz", "Avetoro", "Avispa", "Babirusa", "Babosa", "Babuino", "Bacalao", "Ballena", "Banteng", "Barasinga", "Barracuda", "Becada", "Beira", "Beluga", "Bengalí", "Bermejuela", "Berrendo", "Besugo", "Bisbita", "Bisonte", "Blanquillo", "Boa", "Bogavante", "Bongo", "Bonito", "Bonobo", "Boto", "Buey", "Búfalo", "Búho", "Buitre", "Burro", "Caballo", "Caballito de mar", "Cacatúa", "Cachalote", "Calamón", "Camaleón", "Camello", "Canguro", "Canario", "Cangrejo", "Caracol", "Castor", "Cebra", "Centollo", "Cerdo", "Chacal", "Chimpancé", "Chinchilla", "Ciempiés", "Ciervo", "Cigala", "Cisne", "Cobaya", "Cochinilla", "Cocodrilo", "Coendú", "Coipú", "Colibrí", "Comadreja", "Conejo", "Coral", "Coridora", "Cormorán", "Cóndor", "Cotorra", "Coyote", "Damán", "Delfín", "Diablo de Tasmania", "Dik-dik", "Dingo", "Dragón de Komodo", "Dromedario", "Elefante", "Emú", "Equidna", "Erizo", "Escarabajo", "Escorpión", "Escuerzo", "Espátula común", "Estrella de mar", "Farra", "Faisán", "Flamingo", "Flamenco", "Foca", "Gacela", "Galápago", "Gallina", "Gallipato", "Gallo", "Gamba", "Ganso", "Garcilla", "Garrapata", "Garza", "Gato", "Gavilán", "Glotón", "Golondrina", "Gorila", "Gorgojo", "Gorrión", "Grillo", "Grulla", "Guepardo", "Halcón", "Hamster", "Hiena", "Hipocampo", "Hipopótamo", "Holoturia", "Hormiga", "Hurón", "Hupón", "Ibice", "Icotea", "Iguana", "Insecto palo", "Intendio", "Impala", "Jabalí", "Jabirú", "Jerbo", "Jirafa", "Jaguar", "Kaguang", "Kiwi", "Krill", "Koala", "Labro", "Lagarto", "Langosta", "Langostino", "Lechuza", "Lémur", "León", "León marino", "Leopardo", "Libélula", "Liebre", "Lince", "Llama", "Lobo", "Lobo marino", "Lombriz", "Loro", "Luciérnaga", "Mamut", "Mandril", "Mantis religiosa", "Mapache", "Marabú", "Marabunta", "Mariposa", "Marmota", "Medusa", "Mejillón", "Milpiés", "Mofeta", "Mono", "Mosca", "Mosquito", "Morsa", "Murciélago", "Narval", "Navaja", "Nécora", "Nutria", "Ñandú", "Ñu", "Ocelote", "Okapi", "Oso", "Oso de agua", "Oso hormiguero", "Oso panda", "Oso pardo", "Ornitorrinco", "Oveja", "Pájaro", "Paloma", "Pantera", "Papagayo", "Pelicano", "Perca", "Perdiz", "Perezoso", "Perico", "Peripato", "Periquito", "Perro", "Petirrojo", "Pez", "Pingüino", "Pinzón", "Piojo", "Piquituerto", "Polilla", "Puercoespín", "Pulga", "Pulpo", "Puma", "Quebrantahuesos", "Quetzal", "Quitón", "Rana", "Rata", "Ratón", "Raya", "Rebeco", "Rémora", "Reno", "Rinoceronte", "Rubia Gallega", "Ruiseñor", "Salamandra", "Salmón", "Saltamontes", "Sanguijuela", "Sapo", "Sepia", "Serpiente", "Tábano", "Tejón", "Tenia", "Termita", "Tiburón", "Tigre", "Tijereta", "Topo", "Toro", "Tortuga", "Tritón", "Trucha", "Tucán", "Urogallo", "Urraca", "Vaca", "Varano", "Venado", "Vicuña", "Wapití", "Walabi", "Walaró", "Weta", "Wombat", "Xenopus", "Xenopus laevis", "Xoloescuintle", "Yak", "Yacare", "Yegua", "Zarigüeya", "Zorro", "Zebra"]

# Inicializamos el contador
contador = 0

# Iteramos sobre cada nombre en la lista
for animal in lista_animales:
    # Comprobamos si el nombre del animal comienza con B
    if animal.startswith('B'):
        contador += 1

# Mostramos el resultado
print(f'Cantidad de animales que comienzan con B: {contador}')

Cantidad de animales que comienzan con B: 29

**Ejercicio 6.**
1. Funciones
  - Crea una función que se llame saludo y que tome el nombre de una persona como argumento e imprima "Hola {nombre}, ¿cómo estás hoy?"
  - Crea una función que acepte dos números enteros como argumento y devuelva la multiplicación de ellos
  **Nota:** Recuerda documentar tu función
2. Crea una clase "carro" con los siguientes métodos y atributos:
  - Atributos de instancia: fabricante, marca, modelo (año), color, precio
  - Métodos: "resumen" muestra un mensaje que incluya todos los atributos
  - Crea 3 objetos / instancias de la clase carro

In [ ]:
# 1. Funciones
def saludo(nombre):
    print(f"Hola {nombre}, ¿cómo estás hoy?")

# Ejemplo
saludo("Israel")

Hola Israel, ¿cómo estás hoy?

In [ ]:
# 1. Funciones

#Se declara la función
#recibirá dos valores
#Devolverá el producto
def producto(x, y):
    return x * y
#Se llama a la función
#e imprime el resultado
print(producto(3, 4))

12

In [ ]:
# Definición de la clase Carro
class Carro:
    def __init__(self, fabricante, marca, modelo, color, precio):
        self.fabricante = fabricante
        self.marca = marca
        self.modelo = modelo
        self.color = color
        self.precio = precio

    def resumen(self):
        return (f"Fabricante: {self.fabricante}, Marca: {self.marca}, Modelo: {self.modelo}, "
                f"Color: {self.color}, Precio: ${self.precio:,.2f}")

# Creación de las instancias (3)
carro1 = Carro(fabricante="Rust-eze", marca="Lightning McQueen", modelo=2006, color="Rojo", precio=150000)
carro2 = Carro(fabricante="Volkswagen", marca="Fillmore", modelo=1960, color="Verde", precio=50000)
carro3 = Carro(fabricante="Porsche", marca="Sally Carrera", modelo=2002, color="Azul", precio=120000)

# Imprime los datos de cada instancia
print(carro1.resumen())
print(carro2.resumen())
print(carro3.resumen())

Fabricante: Rust-eze, Marca: Lightning McQueen, Modelo: 2006, Color: Rojo, Precio: $150,000.00
Fabricante: Volkswagen, Marca: Fillmore, Modelo: 1960, Color: Verde, Precio: $50,000.00
Fabricante: Porsche, Marca: Sally Carrera, Modelo: 2002, Color: Azul, Precio: $120,000.00