TIPOS DE DATOS

set <class 'set'>
Es una colección: 
* Desordenada: No se puede acceder a sus valores mediante un indice como una lista
* Valores unicos: No se pueden repetir los valores dentro del Set.
-> Pensar al SET como un conjunto matemático, ya que de igual manera es posible realizar las operaciones como union, diferencia, intersección, diferencia simetrica, etc.

Creación de sets
En Python los sets se pueden crear de dos formas distintas. 

* Usando llaves {} y separando los elementos por comas
* Usando el método constructor Set al que se le debe pasar una lista con los elementos del set
* Para crear un set vacio se debe usar el constructor, ya que si solo dejamos las llaves, python lo interpreta como diccionario.

In [8]:
mySet = {1,2,3,4,5,6,7,8,9,10,11,11,10,9,3,1,3,7,2}
print(type(mySet))
print(mySet)

myList = [1,2,3,4,5,6,7,8,9,10,11,11,10,9,3,1,3,7,2]
mySet2 = set(myList)
print(mySet2)

emptySet = set()
print(type(emptySet))
print(emptySet)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
<class 'set'>
set()

set(my_list)
-> el metodo set convertira una lista de valores a un set, por lo que eliminara valores repetidos si es que existen.

In [2]:
my_list = [1,21,2,1,35,1,21,1,24,12,42,5]
set(my_list)

{1, 2, 5, 12, 21, 24, 35, 42}