<hr>

# TIPOS DE DATOS

## set <class 'set'>
Es una colección: 
* Desordenada: No se puede acceder a sus valores mediante un indice como una lista
* Valores unicos: No se pueden repetir los valores dentro del Set.
-> Pensar al SET como un conjunto matemático, ya que de igual manera es posible realizar las operaciones como union, diferencia, intersección, diferencia simetrica, etc.

Creación de sets
En Python los sets se pueden crear de dos formas distintas. 

* Usando llaves {} y separando los elementos por comas
* Usando el método constructor Set al que se le debe pasar una lista con los elementos del set
* Para crear un set vacio se debe usar el constructor, ya que si solo dejamos las llaves, python lo interpreta como diccionario.

In [1]:
mySet = {1,2,3,4,5,6,7,8,9,10,11,11,10,9,3,1,3,7,2}
print(type(mySet))
print(mySet)

myList = [1,2,3,4,5,6,7,8,9,10,11,11,10,9,3,1,3,7,2]
mySet2 = set(myList)
print(mySet2)

emptySet = set()
print(type(emptySet))
print(emptySet)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
<class 'set'>
set()

* Para acceder a los elementos de un set, se debe hacer mediante un bucle for
* Para comprobar si algun elemento está en un set se debera usar el operador in

In [16]:
mySet = {1, "dos", 3, "cuatro", 5, 6, 7, 8, "mil ocho mil", 10, 11}
print(mySet)

for element in mySet:
    print(element)

print('dos' in mySet)
print(0 in mySet)
print("pan" in mySet)
print(11 in mySet)
print("mil ocho mil" in mySet)

{1, 3, 5, 'dos', 6, 7, 8, 10, 11, 'mil ocho mil', 'cuatro'}
1
3
5
dos
6
7
8
10
11
mil ocho mil
cuatro
True
False
False
True
True

set(my_list)
-> el metodo set convertira una lista de valores a un set, por lo que eliminara valores repetidos si es que existen.

In [2]:
my_list = [1,21,2,1,35,1,21,1,24,12,42,5]
set(my_list)

{1, 2, 5, 12, 21, 24, 35, 42}

* Para agregar un elemento a un Set se deberá usar el metodo .add
* Para agregar varios elementos de golpe se puede usar .update(list)
* Si se trata de agregar un elemento que ya existe solo no lo hara.

In [24]:
mySet = {1, "dos", 3, "cuatro", 5, 6, 7, 8, "mil ocho mil", 10, 11}
mySet.add(0)
mySet.update([-1, -3, "menos cuatro", -0.1]) # recibe una lista
print(mySet)

{0, 1, -0.1, 3, 5, 'dos', 6, 7, 8, 10, 11, 'menos cuatro', 'mil ocho mil', -3, 'cuatro', -1}

* Para eliminar elementos se puede usar el metodo .remove() que lanza un error KeyError si no se encuentra en el set
* Se puede evitar ese error con .discard()
* El metodo .pop() elimina un elemento aleatorio y retornarlo

In [30]:
mySet = {1, "dos", 3, "cuatro", 5, 6, 7, 8, "mil ocho mil", 10, 11}

mySet.remove(1)
mySet.remove("dos")
# mySet.remove("tres") KEYERROR
mySet.discard("cuatro")
mySet.discard("cinco")
print(mySet)
popped = mySet.pop()
print(popped)
print(mySet)

{3, 5, 6, 7, 8, 10, 11, 'mil ocho mil'}
3
{5, 6, 7, 8, 10, 11, 'mil ocho mil'}

* Para eliminar todos los elementos de un Set se puede usar .clear()

In [31]:
mySet = {1, "dos", 3, "cuatro", 5, 6, 7, 8, "mil ocho mil", 10, 11}
mySet.clear()
mySet

set()

## OPERACIONES ENTRE SETS

### UNION

set1 | set2 <br>
set1.union(set2)

In [32]:
impares = {1, 3, 5, 7, 9}
primos = {2, 3, 5, 7}

impares | primos

{1, 2, 3, 5, 7, 9}

### INTERSECCION

set1 & set2 <br>
set1.intersection(set2)

In [33]:
impares = {1, 3, 5, 7, 9}
primos = {2, 3, 5, 7}

impares & primos

{3, 5, 7}

### DIFERENCIA

set 1 - set2 <br>
set1.difference(set2)

In [36]:
impares = {1, 3, 5, 7, 9}
primos = {2, 3, 5, 7}

print(impares - primos)
print(primos - impares)

{1, 9}
{2}

### DIFERENCIA SIMETRICA

set1 ^ set2 <br>
set1.symmetric_difference()

In [39]:
impares = {1, 3, 5, 7, 9}
primos = {2, 3, 5, 7}

print(impares ^ primos)
print(impares.symmetric_difference(primos))

{1, 2, 9}
{1, 2, 9}
{1, 2, 9}

### Otras operaciones con Sets

* Se puede usar len() para encontrar el tamaño del Set
* Eliminar elementos repetidos de una lista O(n)

In [41]:
primos = {1, 3, 5, 7, 9}
print(len(primos))

# ----------

my_list = [1,2,3,4,5,7,9,10,11,11,1,2,3,4]
new_list = list(set(my_list))
print(new_list)

5
[1, 2, 3, 4, 5, 7, 9, 10, 11]

<hr><hr>

# Lamda
### lambda argumentos: expresión

lambda es la palabra clave que indica que se está definiendo una función anónima.
argumentos son los parámetros que la función acepta, separados por comas si hay más de uno.
expresión es una expresión que se evalúa y devuelve como resultado de la función.

In [43]:
potencia = lambda x, n: x ** n
potencia(2,7)

128