<a href="https://colab.research.google.com/github/Pinedah/ESCOM_development-of-applications-for-data-analysis/blob/main/Practica7_2_4AM1_PHF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desarrollo de Aplicaciones para Análisis de Datos
------------------------------------------
## Práctica 7. Bibliotecas Python

### Nombre: Pineda Hernández Francisco

# SF Salarios

Usaremos el [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) de Kaggle! Sólo tienes que seguir y completar las tareas que se describen en negrita a continuación. Las tareas serán cada vez más difíciles a medida que vayas avanzando.

Importar pandas como pd.

In [ ]:
import pandas as pd

Leer Salarios.csv como un marco de datos llamado sal.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Salaries.csv to Salaries.csv

In [ ]:
sal = pd.read_csv("Salaries.csv")

<ipython-input-4-52b64beaa94a>:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv("Salaries.csv")

Comprueba la cabeza del DataFrame.

In [ ]:
sal.head(0)

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

Utiliza el método .info() para saber cuántas entradas hay

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

¿Cuál es el salario base medio?

In [ ]:
pd.to_numeric(sal['BasePay'], errors = "coerce").mean()

66325.4488404877

¿Cuál es la cantidad más alta de pago de horas extras en el conjunto de datos?

In [ ]:
max(pd.to_numeric(sal['OvertimePay'], errors = "coerce"))

245131.88

¿Cuál es el cargo de JOSEPH DRISCOLL? Nota: Utilice mayúsculas, de lo contrario puede obtener una respuesta que no coincide (también hay un Joseph Driscoll en minúsculas).

In [ ]:
sal[sal["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

¿Cuánto gana JOSEPH DRISCOLL (prestaciones incluidas)?

In [ ]:
sal[sal["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

¿Cuál es el nombre de la persona mejor pagada (incluyendo beneficios)?

In [ ]:
sal[sal["TotalPayBenefits"] == max(sal["TotalPayBenefits"])]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

¿Cuál es el nombre de la persona peor pagada (prestaciones incluidas)? ¿Notas algo extraño en su salario?

In [ ]:
sal[sal["TotalPayBenefits"] == min(sal["TotalPayBenefits"])]["EmployeeName"]

148653    Joe Lopez
Name: EmployeeName, dtype: object

¿Cuál fue el salario base medio anual de todos los empleados? (2011-2014)?

In [ ]:
import numpy as np
sal['BasePay'] = sal['BasePay'].replace('Not Provided', np.nan).astype(float)
media = sal.groupby('Year')['BasePay'].mean()
media

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

¿Cuántos títulos de trabajo únicos hay?

In [ ]:
sal["JobTitle"].nunique()

2159

¿Cuáles son los 5 trabajos más comunes?

In [ ]:
sal["JobTitle"].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

¿Cuántos puestos estuvieron representados por una sola persona en 2013? (p. ej., puestos de trabajo con una sola presencia en 2013).

In [ ]:
p = sal[sal["Year"] == 2013]["JobTitle"].value_counts()
p[p == 1].count()

202

¿Cuántas personas tienen la palabra Jefe (en todas sus formas) en el título de su trabajo?

In [ ]:
sal['JobTitle'].str.contains('chief', case=False, na=False).sum()

627

Bonus: ¿Existe una correlación entre la longitud de la cadena del cargo y el salario? **