In [3]:
import pandas as pd

In [4]:
archivo = 'dataset.csv'
ds = pd.read_csv(archivo)

In [3]:
ds.head()

,User ID,Age,Gender,Country,Purchase Amount,Purchase Date,Product Category
0,1,56.0,Female,USA,331.79,2021-11-21,Sports
1,2,69.0,Male,Australia,335.72,2022-03-05,Home & Kitchen
2,3,46.0,NaN,Germany,493.18,NaN,Books
3,4,32.0,Male,Germany,80.97,2023-06-08,Sports
4,5,60.0,Female,UK,21.75,NaN,Beauty

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User ID           15000 non-null  int64
 1   Age               13500 non-null  float64
 2   Gender            14250 non-null  object
 3   Country           13800 non-null  object
 4   Purchase Amount   13200 non-null  float64
 5   Purchase Date     13950 non-null  object
 6   Product Category  14100 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 820.4+ KB

In [15]:
ds.info(), ds.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User ID           15000 non-null  int64
 1   Age               13500 non-null  float64
 2   Gender            14250 non-null  object
 3   Country           13800 non-null  object
 4   Purchase Amount   13200 non-null  float64
 5   Purchase Date     13950 non-null  object
 6   Product Category  14100 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 820.4+ KB

(None,
 User ID                0
 Age                 1500
 Gender               750
 Country             1200
 Purchase Amount     1800
 Purchase Date       1050
 Product Category     900
 dtype: int64)

In [24]:
ds[['User ID', 'Age']]

       User ID   Age
0            1  56.0
1            2  69.0
2            3  46.0
3            4  32.0
4            5  60.0
...        ...   ...
14995    14996  21.0
14996    14997  53.0
14997    14998  65.0
14998    14999  34.0
14999    15000   NaN

[15000 rows x 2 columns]

In [14]:
ds.Country.plot()

TypeError: no numeric data to plot

In [27]:
# Supongamos que 'ds' es tu DataFrame y 'Clase' es la columna de clases
class_counts = ds['Gender'].value_counts()

print("Conteo de cada clase:")
print(class_counts)

# Opcional: calcular la proporciÃ³n de cada clase
class_proportion = ds['Gender'].value_counts(normalize=True)
print("\nProporciÃ³n de cada clase:")
print(class_proportion)

Conteo de cada clase:
Gender
Female    4818
Other     4742
Male      4690
Name: count, dtype: int64

ProporciÃ³n de cada clase:
Gender
Female    0.338105
Other     0.332772
Male      0.329123
Name: proportion, dtype: float64

In [28]:
list(ds.head(0))

['User ID',
 'Age',
 'Gender',
 'Country',
 'Purchase Amount',
 'Purchase Date',
 'Product Category']

In [29]:
for head in list(ds.head(0)):
    class_counts = ds[head].value_counts()

    print("Conteo de cada clase:")
    print(class_counts)

    # Opcional: calcular la proporciÃ³n de cada clase
    class_proportion = ds[head].value_counts(normalize=True)
    print("\nProporciÃ³n de cada clase:")
    print(class_proportion)

Conteo de cada clase:
User ID
1        1
10005    1
9993     1
9994     1
9995     1
        ..
5005     1
5006     1
5007     1
5008     1
15000    1
Name: count, Length: 15000, dtype: int64

ProporciÃ³n de cada clase:
User ID
1        0.000067
10005    0.000067
9993     0.000067
9994     0.000067
9995     0.000067
           ...
5005     0.000067
5006     0.000067
5007     0.000067
5008     0.000067
15000    0.000067
Name: proportion, Length: 15000, dtype: float64
Conteo de cada clase:
Age
43.0    301
30.0    292
40.0    287
34.0    286
46.0    284
62.0    278
64.0    277
45.0    276
59.0    274
38.0    273
29.0    271
33.0    270
50.0    270
20.0    269
66.0    269
35.0    269
61.0    267
19.0    266
36.0    266
42.0    266
54.0    266
41.0    265
25.0    263
65.0    262
27.0    261
52.0    261
32.0    261
21.0    261
23.0    260
39.0    259
56.0    258
26.0    258
68.0    256
49.0    252
37.0    249
53.0    249
22.0    248
69.0    248
31.0    247
47.0    246
57.0    246
28.0    245
51.0    243
58.0    243
55.0    241
60.0    240
67.0    240
24.0    238
18.0    236
48.0    236
63.0    228
44.0    223
Name: count, dtype: int64

ProporciÃ³n de cada clase:
Age
43.0    0.022296
30.0    0.021630
40.0    0.021259
34.0    0.021185
46.0    0.021037
62.0    0.020593
64.0    0.020519
45.0    0.020444
59.0    0.020296
38.0    0.020222
29.0    0.020074
33.0    0.020000
50.0    0.020000
20.0    0.019926
66.0    0.019926
35.0    0.019926
61.0    0.019778
19.0    0.019704
36.0    0.019704
42.0    0.019704
54.0    0.019704
41.0    0.019630
25.0    0.019481
65.0    0.019407
27.0    0.019333
52.0    0.019333
32.0    0.019333
21.0    0.019333
23.0    0.019259
39.0    0.019185
56.0    0.019111
26.0    0.019111
68.0    0.018963
49.0    0.018667
37.0    0.018444
53.0    0.018444
22.0    0.018370
69.0    0.018370
31.0    0.018296
47.0    0.018222
57.0    0.018222
28.0    0.018148
51.0    0.018000
58.0    0.018000
55.0    0.017852
60.0    0.017778
67.0    0.017778
24.0    0.017630
18.0    0.017481
48.0    0.017481
63.0    0.016889
44.0    0.016519
Name: proportion, dtype: float64
Conteo de cada clase:
Gender
Female    4818
Other     4742
Male      4690
Name: count, dtype: int64

ProporciÃ³n de cada clase:
Gender
Female    0.338105
Other     0.332772
Male      0.329123
Name: proportion, dtype: float64
Conteo de cada clase:
Country
France       2444
Germany      2330
Canada       2279
UK           2261
Australia    2256
USA          2230
Name: count, dtype: int64

ProporciÃ³n de cada clase:
Country
France       0.177101
Germany      0.168841
Canada       0.165145
UK           0.163841
Australia    0.163478
USA          0.161594
Name: proportion, dtype: float64
Conteo de cada clase:
Purchase Amount
281.94    5
489.18    4
353.11    4
248.64    4
388.65    4
         ..
283.54    1
151.27    1
428.38    1
466.21    1
105.57    1
Name: count, Length: 11608, dtype: int64

ProporciÃ³n de cada clase:
Purchase Amount
281.94    0.000379
489.18    0.000303
353.11    0.000303
248.64    0.000303
388.65    0.000303
            ...
283.54    0.000076
151.27    0.000076
428.38    0.000076
466.21    0.000076
105.57    0.000076
Name: proportion, Length: 11608, dtype: float64
Conteo de cada clase:
Purchase Date
2022-04-28    26
2020-07-01    22
2020-05-28    21
2023-08-31    20
2020-08-15    20
              ..
2023-12-18     2
2021-10-03     2
2022-04-11     2
2020-12-23     2
2023-01-07     1
Name: count, Length: 1460, dtype: int64

ProporciÃ³n de cada clase:
Purchase Date
2022-04-28    0.001864
2020-07-01    0.001577
2020-05-28    0.001505
2023-08-31    0.001434
2020-08-15    0.001434
                ...
2023-12-18    0.000143
2021-10-03    0.000143
2022-04-11    0.000143
2020-12-23    0.000143
2023-01-07    0.000072
Name: proportion, Length: 1460, dtype: float64
Conteo de cada clase:
Product Category
Clothing          2444
Sports            2363
Home & Kitchen    2359
Electronics       2333
Books             2317
Beauty            2284
Name: count, dtype: int64

ProporciÃ³n de cada clase:
Product Category
Clothing          0.173333
Sports            0.167589
Home & Kitchen    0.167305
Electronics       0.165461
Books             0.164326
Beauty            0.161986
Name: proportion, dtype: float64

In [31]:
class_counts = ds['Gender'].value_counts()

print("Conteo de cada clase:")
print(class_counts)

# Opcional: calcular la proporciÃ³n de cada clase
class_proportion = ds['Gender'].value_counts(normalize=True)
print("\nProporciÃ³n de cada clase:")
print(class_proportion)

class_counts

Conteo de cada clase:
Gender
Female    4818
Other     4742
Male      4690
Name: count, dtype: int64

ProporciÃ³n de cada clase:
Gender
Female    0.338105
Other     0.332772
Male      0.329123
Name: proportion, dtype: float64

Gender
Female    4818
Other     4742
Male      4690
Name: count, dtype: int64

In [39]:
type(class_counts)
class_counts.Female / class_counts.Male, class_counts.argmax

(1.0272921108742004,
 <bound method IndexOpsMixin.argmax of Gender
 Female    4818
 Other     4742
 Male      4690
 Name: count, dtype: int64>)

In [44]:
for c in class_counts:
    print(c)

max(class_counts) / min(class_counts)

4818
4742
4690

1.0272921108742004