# Tarea 5. Análisis DataSet
## Equipo 9:
- Israel Cortes Rosales
- Alan Daniel Palma Pacheco
- Pineda Hernández Francisco
- Ramirez Aguilar Rodrigo Vidal

In [19]:
import pandas as pd # Importar pandas para leer y manipular el DataSet
import numpy as np  # Importar numpy para manipular datos

In [20]:
#from google.colab import files # Importar google.colab para poder subir el archivo del DataSet
#uploaded = files.upload()

In [21]:
df = pd.read_csv('dataset.csv') # Leer el DataSet

# Primeras visualización del dataset en raw

In [22]:
df # Imprimir el dataset

,User ID,Age,Gender,Country,Purchase Amount,Purchase Date,Product Category
0,1,56.0,Female,USA,331.79,2021-11-21,Sports
1,2,69.0,Male,Australia,335.72,2022-03-05,Home & Kitchen
2,3,46.0,NaN,Germany,493.18,NaN,Books
3,4,32.0,Male,Germany,80.97,2023-06-08,Sports
4,5,60.0,Female,UK,21.75,NaN,Beauty
...,...,...,...,...,...,...,...
14995,14996,21.0,Male,UK,427.07,2023-08-20,Clothing
14996,14997,53.0,Other,UK,27.73,2021-07-23,Home & Kitchen
14997,14998,65.0,Female,Canada,108.57,2022-02-21,Beauty
14998,14999,34.0,Other,USA,105.57,2022-08-25,Books
14999,15000,NaN,Other,Canada,415.07,2020-05-28,Sports

In [23]:
df.info() # Imprimir información original del dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User ID           15000 non-null  int64
 1   Age               13500 non-null  float64
 2   Gender            14250 non-null  object
 3   Country           13800 non-null  object
 4   Purchase Amount   13200 non-null  float64
 5   Purchase Date     13950 non-null  object
 6   Product Category  14100 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 820.4+ KB

In [24]:
for column in df[['Gender', 'Country', 'Product Category']]:
    print(df[column].unique()) # Mostrar los valores únicos de cada columna

['Female' 'Male' nan 'Other']
['USA' 'Australia' 'Germany' 'UK' 'France' 'Canada' nan]
['Sports' 'Home & Kitchen' 'Books' 'Beauty' 'Clothing' nan 'Electronics']

## Hacer un merge con una nueva columna procesada

In [25]:

# Diccionario con los respectivos continentes
continentes_por_pais = {
    'USA': 'America',
    'Canada': 'America',
    'Australia': 'Asia',
    'Germany': 'Europe',
    'UK': 'Europe',
    'nan': None
}

# Agregar columna 'Continent' al DataFrame
df['Continent'] = df['Country'].map(continentes_por_pais)

df

,User ID,Age,Gender,Country,Purchase Amount,Purchase Date,Product Category,Continent
0,1,56.0,Female,USA,331.79,2021-11-21,Sports,America
1,2,69.0,Male,Australia,335.72,2022-03-05,Home & Kitchen,Asia
2,3,46.0,NaN,Germany,493.18,NaN,Books,Europe
3,4,32.0,Male,Germany,80.97,2023-06-08,Sports,Europe
4,5,60.0,Female,UK,21.75,NaN,Beauty,Europe
...,...,...,...,...,...,...,...,...
14995,14996,21.0,Male,UK,427.07,2023-08-20,Clothing,Europe
14996,14997,53.0,Other,UK,27.73,2021-07-23,Home & Kitchen,Europe
14997,14998,65.0,Female,Canada,108.57,2022-02-21,Beauty,America
14998,14999,34.0,Other,USA,105.57,2022-08-25,Books,America
14999,15000,NaN,Other,Canada,415.07,2020-05-28,Sports,America

In [26]:
# Se crea un Frame con los datos solicitados
valoresPerdidos = pd.DataFrame({
    'Tipo de Dato': df.dtypes,                                # tipo de dato
    'Valores Perdidos': df.isnull().sum(),                    # valores perdidos
    'Porcentaje de Perdidos': (df.isnull().sum() / len(df))   # porcentaje
})

print(valoresPerdidos)

                 Tipo de Dato  Valores Perdidos  Porcentaje de Perdidos
User ID                 int64                 0                0.000000
Age                   float64              1500                0.100000
Gender                 object               750                0.050000
Country                object              1200                0.080000
Purchase Amount       float64              1800                0.120000
Purchase Date          object              1050                0.070000
Product Category       object               900                0.060000
Continent              object              3644                0.242933

# Desbalance de clases

In [27]:
Edad = df["Age"]
EdadMax = Edad.max()
print("edad mayor: ", EdadMax)
EdadMin = Edad.min()
print("edad menor: ", EdadMin)
EdadMayor = pd.to_numeric(Edad.value_counts().max())
print("edad mayoritaria: ", EdadMayor)
EdadMenor = pd.to_numeric(Edad.value_counts().min())
print("edad minoritaria: ",EdadMenor)
DesbalanceEdad = EdadMayor/EdadMenor
print("IR edad: ",DesbalanceEdad)

edad mayor:  69.0
edad menor:  18.0
edad mayoritaria:  301
edad minoritaria:  223
IR edad:  1.3497757847533631

In [28]:
genero = df["Gender"]
generoMasRepetido= genero.value_counts().idxmax()
print("Genero mayor: ", generoMasRepetido)
generoMin= genero.value_counts().idxmin()
print("Genero menor: ", generoMin)
generoMayor= pd.to_numeric(genero.value_counts().max())
print("Genero mayoritario: ", generoMayor)
generoMenor= pd.to_numeric(genero.value_counts().min())
print("Genero minoritario: ",generoMenor)
DesbalanceGenero=generoMayor/generoMenor
print("IR genero: ",DesbalanceGenero)

Genero mayor:  Female
Genero menor:  Male
Genero mayoritario:  4818
Genero minoritario:  4690
IR genero:  1.0272921108742004

In [29]:
Pais = df["Country"]
PaisMasRepetido= Pais.value_counts().idxmax()
print("Pais mas repetido: ", PaisMasRepetido)
PaisMin= Pais.value_counts().idxmin()
print("Pais menos repetido: ", PaisMin)
PaisMayor= pd.to_numeric(Pais.value_counts().max())
print("Pais mayoritario: ", PaisMayor)
PaisMenor= pd.to_numeric(Pais.value_counts().min())
print("Pais minoritario: ",PaisMenor)
DesbalancePais=PaisMayor/PaisMenor
print("IR Pais: ",DesbalancePais)

Pais mas repetido:  France
Pais menos repetido:  USA
Pais mayoritario:  2444
Pais minoritario:  2230
IR Pais:  1.0959641255605381

In [30]:
Importe = df["Purchase Amount"]
ImporteMayor= Importe.max()
rangos=np.arange(0,ImporteMayor+100,100)
ImporteEnRangos= pd.cut(Importe, bins=rangos)
df['rango'] = ImporteEnRangos
print("Importe Mayor: ", Importe.max())
print("Importe Menor: ", Importe.min())
RangoMayor = df['rango'].value_counts().max()
print("Rango mayoritario: ", RangoMayor)
RangoMenor = df['rango'].value_counts().min()
print("Rango minoritario: ", RangoMenor)
DesbalanceRango=RangoMayor/RangoMenor
print("IR rango: ",DesbalanceRango)

Importe Mayor:  499.95
Importe Menor:  5.05
Rango mayoritario:  2717
Rango minoritario:  2538
IR rango:  1.0705279747832939

In [31]:
fechas = pd.to_datetime(df['Purchase Date'])
df['año'] = fechas.dt.year
año_mas_repetido= df['año'].value_counts().idxmax()
print("Año mas repetido: ", año_mas_repetido)
año_menos_repetido= df['año'].value_counts().idxmin()
print("Año menos repetido: ", año_menos_repetido)
añoMayor= pd.to_numeric(df['año'].value_counts().max())
print("Año mayoritario: ", añoMayor)
añoMenor= pd.to_numeric(df['año'].value_counts().min())
print("Año minoritario: ",añoMenor)
DesbalanceAño=añoMayor/añoMenor
print("IR año: ",DesbalanceAño)

Año mas repetido:  2020.0
Año menos repetido:  2022.0
Año mayoritario:  3544
Año minoritario:  3419
IR año:  1.0365603977771278

In [32]:
categorias = df["Product Category"]
categoriasMasRepetidas = categorias.value_counts().idxmax()
print("Categoria mas repetida: ", categoriasMasRepetidas)
categoriasMenosRepetidas = categorias.value_counts().idxmin()
print("Categoria menos repetida: ", categoriasMenosRepetidas)
categoriasMayor = pd.to_numeric(categorias.value_counts().max())
print("Categoria mayoritario: ", categoriasMayor)
categoriasMenor = pd.to_numeric(categorias.value_counts().min())
print("Categoria minoritario: ",categoriasMenor)
DesbalanceCategorias =categoriasMayor/categoriasMenor
print("IR categoria: ",DesbalanceCategorias)

Categoria mas repetida:  Clothing
Categoria menos repetida:  Beauty
Categoria mayoritario:  2444
Categoria minoritario:  2284
IR categoria:  1.0700525394045535

# Valores Atipicos

In [33]:
df['Age'].max(), df['Age'].min()

(69.0, 18.0)

In [36]:
pd.to_datetime(df['Purchase Date']).astype('int64')

0        1637452800000000000
1        1646438400000000000
2       -9223372036854775808
3        1686182400000000000
4       -9223372036854775808
                ...
14995    1692489600000000000
14996    1626998400000000000
14997    1645401600000000000
14998    1661385600000000000
14999    1590624000000000000
Name: Purchase Date, Length: 15000, dtype: int64

# Outliers

In [37]:
def outliers(col):
  Q1 = df[col].quantile(0.25)
  Q3 = df[col].quantile(0.75)
  IQR = Q3 - Q1 
  return df[(df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR))]

In [38]:
outliers('Purchase Amount')

Empty DataFrame
Columns: [User ID, Age, Gender, Country, Purchase Amount, Purchase Date, Product Category, Continent, rango, año]
Index: []

In [39]:
outliers('Age')

Empty DataFrame
Columns: [User ID, Age, Gender, Country, Purchase Amount, Purchase Date, Product Category, Continent, rango, año]
Index: []

In [42]:
df['Purchase Date'] = pd.to_datetime(df['Purchase Date'])
df['seg'] = df['Purchase Date'].astype('int64') / 10**9
atipic = outliers('seg')
atipic.shape[0]

1050

In [43]:
df['Purchase Date'].isna().sum()

1050

In [50]:

import scipy.stats as stats

def analyze_relationship(df, col1, col2):
  """


  Args:
    df: El DataFrame que contiene los datos.
    col1: El nombre de la primera columna.
    col2: El nombre de la segunda columna.

  Returns:
    Un diccionario con la información sobre la relación entre las variables.
  """

  result = {}

  # Verificar si las variables son categóricas o numéricas
  if pd.api.types.is_numeric_dtype(df[col1]) and pd.api.types.is_numeric_dtype(df[col2]):
    # Calcular la correlación si ambas son numéricas
    correlation = df[col1].corr(df[col2])
    result['correlation'] = correlation
    print(f"La correlación entre {col1} y {col2} es: {correlation}")

  # si son categoricas 
  elif not pd.api.types.is_numeric_dtype(df[col1]) and not pd.api.types.is_numeric_dtype(df[col2]):
    # Realizar una prueba de chi-cuadrado si ambas son categóricas
    chi2, p, dof, expected = stats.chi_squared_test(df, col1, col2)
    result['chi2'] = chi2
    result['p_value'] = p
    result['dof'] = dof
    result['expected'] = expected
    print(f"Prueba de chi-cuadrado entre {col1} y {col2}:")
    print(f"Estadística de chi-cuadrado: {chi2}")
    print(f"Valor p: {p}")
    print(f"Grados de libertad: {dof}")
    print(f"Tabla de contingencia esperada:\n{expected}")

  else:
    print(f"Las variables {col1} y {col2} no son del mismo tipo (numérica o categórica).")

  return result


# Ejemplos de uso:
analyze_relationship(df, 'Gender', 'Product Category') # Categórica vs Categórica
analyze_relationship(df, 'Age', 'Purchase Amount') # Numérica vs Numérica
analyze_relationship(df, 'Gender', 'Purchase Amount') # Categórica (convertida a numérica) vs Numérica

AttributeError: module 'scipy.stats' has no attribute 'chi_squared_test'